# Arquivos gerais
* @MailsonSousa88 @MateusARJ @Cassiosampaio2016 @vitorlopes-coder @Rikelry

# Frontend
/app/frontend/ @MailsonSousa88 @MateusARJ @Cassiosampaio2016

# Backend, banco de dados e migrations
/app/backend/ @MailsonSousa88 @vitorlopes-coder @Rikelry

# Documentacao e configuracoes do GitHub
/docs/ @MailsonSousa88 @MateusARJ @Cassiosampaio2016 @vitorlopes-coder @Rikelry
/.github/ @MailsonSousa88 @MateusARJ @Cassiosampaio2016 @vitorlopes-coder @Rikelry
